{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/icons.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <title>Shopify Product</title>
    <style>
        tr
{
  padding-top: 10px;
  padding-bottom: 10px;
}





    </style>

</head>
<body>
<div class="container">
    <div class="row">
        <table>
            <tr>
                <td align="center">
                    <h3>Shopify Product Details</h3></td>
                <td align="right"></td>
                > &nbsp&nbsp&nbsp
                <td><!--<a class=" btn btn-primary" id="id-add-product" title="Add Product">Add Product</a>-->
                    <button id="id-add-product" type="button" class="btn btn-info btn-lg" data-toggle="modal"
                            data-target="#productmodal">Add Product
                    </button>
                </td>
            </tr>
        </table>
    </div>


    <div id="dvData">
        <table class="table table-bordered table-striped" id="datatable">
            <thead>
            <tr>
                <th align="center" width="30%">Product Details</th>
                <th align="center" width="70%">Product Image</th>
            </tr>
            </thead>
            <tbody align="center">


            {% for key,value in products.items %}

            {% for k in value %}
            <tr>
                <td><b>Name - </b>{{ k.title }} <br><b>CreatedAt - </b>{{ k.created_at }}<br>
                </td>
                <td><img src={{ k.image.src }} alt="" style="width:200px; height:auto;"></td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 form-group">
        <div class="modal fade" id="productmodal" role="dialog">
            <div class="modal-dialog modal-md ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <button type="button " class="close " data-dismiss="modal ">&times;</button>
                        <h4 class="modal-title " style="font-weight: 900 ">Add New Product</h4>
                    </div>
                    <div class="modal-body " id="addProductNameBody">
                        <form role="form" method="post" enctype="multipart/form-data" autocomplete="off">
                            <input type="hidden" name="csrfmiddlewaretoken" value={{ csrf_token }}>

                            <table>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-5"><label class="control-label">Product Title:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="title"
                                                       placeholder="Type product title" name="title">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-5"><label class="control-label">Upload Image:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div>
                                                <input type='file' id="inputFile" />
                                                </div>
                                                <div style="width:40px; height:40px;" class="img1">
                                                    <img style="width:60px; height:60px;" id="image_upload_preview" src="http://placehold.it/100x100" alt="your image" />
                                                </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-5"><label class="control-label">Product Body:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="body"
                                                       placeholder="Type product body" name="body">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-5"><label class="control-label">Product Vendor:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="vendor"
                                                       placeholder="Type product vendor" name="vendor">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-5"><label class="control-label">Product Type:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="type"
                                                       placeholder="Type product Type" name="type">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="modal-footer ">
                                            <input type="button" id = "addproduct" value="Add Product">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_upload_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#inputFile").change(function () {
        readURL(this);
    });

    $("#addproduct").click(function(e){
        e.preventDefault();
        title = $("#title").val();
        body= $("#body").val();
        image = $('#image_upload_preview').attr('src');
        vendor= $("#vendor").val();
        type= $("#type").val();
        data = {};
        data = {'title':title,'body':body,'image':image,'vendor':vendor,'type':type};
        console.log(data);
        $.ajax({
        type: "POST",
        url: "http://192.168.2.113:8000/shopifyapp/addproduct/",
        data: data,
        success: function(data){
          console.log(data);
        }
        });
    });


    </script>
</body>
</html>
